@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.navbar-collapse {
  justify-content: flex-end;
}

.dropdown-menu {
  --bs-dropdown-bg: #ffffff;

  a {
    color: #161616;
  }
}

a:hover {
  --bs-link-hover-color: #ffffffd7;
}
