html, body, #root, .App {
    height: 100%;
}

// RESET

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

$darkmode__surface--main: #202020;
$darkmode__color--main: #ffffffD7;


/*** NAVBAR ***/

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $darkmode__surface--main;
    box-shadow: 0px 2px 10px 0px #050505;
}

.home {
    width: 100%;
    height: calc(100% - 55px);
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        color: $darkmode__color--main;
        font-size: 4.5rem;
    }

    &__icon {
        margin-right: 5px;
    }

    &__links {
        width: 300px;
        height: 60px;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $darkmode__color--main;

        &--resume {
           padding: 0px;
           display: flex;
           justify-content: space-between;           
        }

        &--contact {
           padding: 0px;
           display: flex;
           justify-content: space-between;     
           
           a:link, a:visited {
            color: $darkmode__color--main;
            text-decoration: none;
           }

           a:hover {
            text-decoration: underline;
           }
        
        }
    }
}




@import "custom";